/*ADD STYLES TO FIX FOOTER TO BOTTOM*/

html {
	min-height: 100%;
	position: relative;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
    height: 100px;
    width: 100%;
	background-color: gray;
	color: #fff;
}