/*ADD STYLES TO FIX FOOTER TO BOTTOM*/

html {
	min-height: 100%;
}

body {
	min-height: 100vh;
	position:relative;
}

.footer {
    height: 100px;
    width: 100%;
	background-color: gray;
	color: #fff;
	position: absolute;
	bottom: 0px;
}
